<div class="well">
  <p><%= comment.body %></p>
  <small><%= link_to "Delete", [@post, comment], method: :delete, class: "text-danger" %>
  <em class="text-muted"> | Created at <%= time_ago_in_words(comment.created_at) %> ago</em></small>
</div>
