
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8">
    <h4>Add your comment</h4>
    <%= simple_form_for ([post, post.comments.new]) do |f| %>
      <%= f.input :body, label: false, placeholder: 'Enter your comment', input_html: { rows: 4 } %>
      <%= f.button :submit, "Save" %>
    <% end %>
  </div>
</div>
